.accordion {
  border: 1px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
}

.accordion-header {
  background: pink;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-content {
  max-height: 0; /* Starthöhe auf 0 */
  overflow: hidden; /* Verstecke den Inhalt */
  transition: max-height 1s ease-out; /* Sanfte Übergang für max-height */
  padding: 0 15px; /* Padding hinzufügen */
}

.accordion-content.open {
  max-height: 100px; /* Maximale Höhe beim Öffnen, passe dies nach Bedarf an */
  padding: 15px; /* Padding hinzufügen, wenn geöffnet */
  background: white; /* Hintergrundfarbe */
}
