.song-title {
    font-weight: bold;
    font-size: 18px;
}

.song-card-container {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.song-card {
    background-color: #F7E7CE;
    color: #333333;
    padding: 20px;
    text-align: center;
    min-width: 150px;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    transition: ease 0.3s;
}

.song-card:hover {
    background-color: #800020;
    text-shadow: #F7E7CE 0 0 8px;
    transition: ease 0.3s;
    color: #F7E7CE;
    cursor: pointer;
}
