#bandmitglieder-container {
    position: relative;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    color: white;
}

.mitglied {
    width: 10%;
    color: black;
    text-align: center;
}

.band-image {
    width: 50%;
    padding-bottom: 30px;
}

.hidden {
    opacity: 0;
}

h2 {
    text-shadow: #800020 1px 1px 1px;
}