#bandmitglieder-container {
  position: relative; /* Positioniert den Container relativ, damit das Overlay nur innerhalb dieses Containers angezeigt wird */
  background-image: url("../bilder/band.png");
  background-size: contain;
  background-position: top;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  box-shadow: black 0px 11px 28px 1px;
  color: white;
}

/* Halbtransparentes Overlay */
#bandmitglieder-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Füllt nur die Breite des Containers */
  height: 100%; /* Füllt nur die Höhe des Containers */
  background-color: rgba(0, 0, 0, 0.7); /* Schwarzes Overlay mit 50% Transparenz */
  z-index: 1; /* Über das Hintergrundbild, aber hinter dem Text */
}

#bandmitglieder-container > * {
  position: relative;
  z-index: 2; /* Stellt sicher, dass der Inhalt über dem Overlay liegt */
}

.mitglied {
  background-color: pink;
  color: black;
  width: 50%;
  text-align: center;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: black 10px 10px 10px 10px;
}
