<h1>Jazz-Pop-Lieder</h1>

<div class="song-card-container flex-row space-around wrap">

  <div class="song-card">
    <div class="song-title">Ain't No Sunshine</div>
    <div>Bill Withers</div>
  </div>
  <div class="song-card">
    <div class="song-title">Alice in Wonderland</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">All of Me</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">All of Me</div>
    <div>John Legend</div>
  </div>
  <div class="song-card">
    <div class="song-title">Billie Jean</div>
    <div>Michael Jackson</div>
  </div>
  <div class="song-card">
    <div class="song-title">Blackbird</div>
    <div>The Beatles</div>
  </div>
  <div class="song-card">
    <div class="song-title">Billie Jean</div>
    <div>Michael Jackson</div>
  </div>
  <div class="song-card">
    <div class="song-title">But for Now</div>
    <div>Jamie Cullum</div>
  </div>
  <div class="song-card">
    <div class="song-title">Cannonball</div>
    <div>Damien Rice</div>
  </div>
  <div class="song-card">
    <div class="song-title">Ceora</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Come Together</div>
    <div>The Beatles</div>
  </div>
  <div class="song-card">
    <div class="song-title">Creep</div>
    <div>Radiohead</div>
  </div>
  <div class="song-card">
    <div class="song-title">Desafinado</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Don't Look Back In Anger</div>
    <div>Oasis</div>
  </div>
  <div class="song-card">
    <div class="song-title">Don't Stop Me Now</div>
    <div>Queen</div>
  </div>
  <div class="song-card">
    <div class="song-title">Englishman in New York</div>
    <div>Sting</div>
  </div>
  <div class="song-card">
    <div class="song-title">Every Breath You Take</div>
    <div>The Police</div>
  </div>
  <div class="song-card">
    <div class="song-title">Fever</div>
    <div>Peggy Lee</div>
  </div>
  <div class="song-card">
    <div class="song-title">Fields Of Gold</div>
    <div>Sting</div>
  </div>
  <div class="song-card">
    <div class="song-title">Fly Me To The Moon</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Georgia On My Mind</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Get Lucky</div>
    <div>Daft Punk</div>
  </div>
  <div class="song-card">
    <div class="song-title">Girl From Ipanema</div>
    <div>Antônio Carlos Jobim</div>
  </div>
  <div class="song-card">
    <div class="song-title">Hallelujah, I Love Her So</div>
    <div>Ray Charles</div>
  </div>
  <div class="song-card">
    <div class="song-title">Hey Jude</div>
    <div>The Beatles</div>
  </div>
  <div class="song-card">
    <div class="song-title">Hit the Road Jack</div>
    <div>Ray Charles</div>
  </div>
  <div class="song-card">
    <div class="song-title">How Deep Is Your Love</div>
    <div>Bee Gees</div>
  </div>
  <div class="song-card">
    <div class="song-title">How High The Moon</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">I Got A Woman</div>
    <div>Ray Charles</div>
  </div>
  <div class="song-card">
    <div class="song-title">I See Fire</div>
    <div>Ed Sheeran</div>
  </div>
  <div class="song-card">
    <div class="song-title">I Took A Pill In Ibiza</div>
    <div>Jamie Cullum</div>
  </div>
  <div class="song-card">
    <div class="song-title">Imagine</div>
    <div>John Lennon</div>
  </div>
  <div class="song-card">
    <div class="song-title">Isn't She Lovely</div>
    <div>Stevie Wonder</div>
  </div>
  <div class="song-card">
    <div class="song-title">It Don't Mean A Thing</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Just The Two Of Us</div>
    <div>Bill Withers & Grover Washington, Jr.</div>
  </div>
  <div class="song-card">
    <div class="song-title">Lean On Me</div>
    <div>Bill Withers</div>
  </div>
  <div class="song-card">
    <div class="song-title">Love Yourself</div>
    <div>Justin Bieber</div>
  </div>
  <div class="song-card">
    <div class="song-title">Lullaby Of Birdland</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Moondance</div>
    <div>Van Morrison</div>
  </div>
  <div class="song-card">
    <div class="song-title">My Yard</div>
    <div>Jamie Cullum</div>
  </div>
  <div class="song-card">
    <div class="song-title">No Woman, No Cry</div>
    <div>Bob Marley & The Wailers</div>
  </div>
  <div class="song-card">
    <div class="song-title">Seven Nations Army</div>
    <div>The White Stripes</div>
  </div>
  <div class="song-card">
    <div class="song-title">Shape Of My Heart</div>
    <div>Sting</div>
  </div>
  <div class="song-card">
    <div class="song-title">Smells Like Teen Spirit</div>
    <div>Nirvana</div>
  </div>
  <div class="song-card">
    <div class="song-title">Someday My Prince Will Come</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Something Just Like This</div>
    <div>The Chainsmokers & Coldplay</div>
  </div>
  <div class="song-card">
    <div class="song-title">Somewhere Over The Rainbow</div>
    <div>Israel Kamakawiwo'ole</div>
  </div>
  <div class="song-card">
    <div class="song-title">Stand By Me</div>
    <div>Ben E. King</div>
  </div>
  <div class="song-card">
    <div class="song-title">Summertime</div>
    <div>George Gershwin</div>
  </div>
  <div class="song-card">
    <div class="song-title">Sunny</div>
    <div>Boney M.</div>
  </div>
  <div class="song-card">
    <div class="song-title">The Chicken</div>
    <div>Jaco Pastorius</div>
  </div>
  <div class="song-card">
    <div class="song-title">The Long And Winding Road</div>
    <div>The Beatles</div>
  </div>
  <div class="song-card">
    <div class="song-title">The Nearness Of You</div>
    <div>Jazz-Standard</div>
  </div>
  <div class="song-card">
    <div class="song-title">Walk On The Wild Side</div>
    <div>Lou Reed</div>
  </div>
  <div class="song-card">
    <div class="song-title">Wave</div>
    <div>Antônio Carlos Jobim</div>
  </div>
  <div class="song-card">
    <div class="song-title">Zieh die Schuh aus</div>
    <div>Roger Cicero</div>
  </div>
</div>
