<app-navbar>
</app-navbar>

<div>
  <app-bandmitglieder id="bandmitglieder">
  </app-bandmitglieder>

  <app-jazzpoplieder id="jazzpoplieder">
  </app-jazzpoplieder>

  <app-weinachtslieder id="weihnachtslieder">
  </app-weinachtslieder>

  <app-kontakt id="kontakt">
  </app-kontakt>

  <app-faqs id="faqs">
  </app-faqs>

  <app-impressum id="impressum">
    <!-- https://www.conanimamusic.com/impressum -->

    <!-- Name des Unternehmens
    Name der verantwortlichen Person(en)
    Anschrift der Niederlassung (Haus-Adresse, nicht nur Postfach)
    Rechtsform, Registernummer und Registergericht: bei juristischen Personen und e.K.
    Kontaktdaten zur schnellen unmittelbaren Erreichbarkeit - am besten: Telefonnummer und Emailadresse.
    Bei zulassungspflichtigem Gewerbe Angaben zur zuständigen Aufsichtsbehörde mit Anschrift - Beispiele für zulassungspflichtige Gewerbe:
    Immobilienmakler nach § 34 c Abs. 1 Satz 1 Nr. 1 GewO,
    Versicherungsvermittler, Finanzanlagenvermittler etc. nach §§ 34 d, e, f GewO
    Neu: Wohnimmobilienverwalter nach § 34 c Abs. 1 Satz 1 Nr. 4 GewO
    Weitere Beispiele für zulassungspflichtige Gewerbe fin den Sie in unserem "Pflichtangaben im Internet-Impressum" auf Seite 5.
    (Hinweis: Beachten Sie ergänzend auch unten 3. Berufsspezifische Informationen)
    Umsatzsteueridentifikationsnummer (nach § 27a des Umsatzsteuergesetzes): nur sofern eine solche auf Antrag erteilt worden ist (nicht: Steuernummer) -->
  </app-impressum>
</div>

