.navbar-link {
    text-decoration: none;
    text-shadow: rgba(128, 0, 32, 0.38) 0px 0px 2px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    text-align: center;
    transition: ease 0.3s;
}

.navbar-link:hover {
    background-color: #800020;
    text-shadow: #F7E7CE 0px 0px 8px;
    border-radius: 5px;
    transition: ease 0.3s;
}

#navbar-container {
    position: sticky;
    top: 10px;
    left: 2.5%;
    width: 95%;
    border-radius: 10px;
    border: 5px solid #800020;
    background-color: #F7E7CE;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
