#faq-container {
    padding-bottom: 50px;
}

.accordion-button.collapsed {
    border-bottom: 2px solid #800020;
    background-color: #F7E7CE;
    padding: 12px 20px;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
}

/* Stil für den Accordion Header, wenn es geöffnet ist */
.accordion-button:not(.collapsed) {
    background-color: #800020;  /* Hintergrundfarbe beim Öffnen */
    text-shadow: #F7E7CE 1px 1px 4px;
    border-radius: 10px;
}

/* Stil für das Accordion Body */
.accordion-body {
    background-color: #F7E7CE;  /* Helles Grau als Hintergrund */
    padding: 15px;               /* Padding für den Inhalt */
}

/* Optional: Stil für das Icon (Plus/Minus Symbol) */
.accordion-button::after {
    color: white;               /* Setzt die Farbe des Symbols */
}
