.accordion-button {
    color: #333333;
}

.accordion-button.collapsed {
    border-bottom: 2px solid #800020;
    background-color: #F7E7CE;
    padding: 12px 20px;
    text-align: left;
    font-weight: bold;
    transition: ease 0.5s;
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    background-color: #800020;
    text-shadow: #F7E7CE 1px 1px 4px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: ease 0.5s;
    color: #F7E7CE;
}

.accordion-body {
    background-color: #F7E7CE;
    padding: 15px;
    border-bottom: 2px solid #800020;
}

.accordion {
    width: 100%;
    --bs-accordion-border-color: #800020;
}

.accordion-container {
    width: 70%;
    margin-left: 15%;
}

.accordion-item {
    --bs-accordion-btn-focus-box-shadow: none;
}