
<nav id="navbar">
  <ul>
    <li><a href="#bandmitglieder">Bandmitglieder</a></li>
    <li><a href="#Jazz-Pop-Lieder">Jazz-Pop-Lieder</a></li>
    <li><a href="#Weihnachtslieder">Weihnachtslieder</a></li>
    <li><a href="#kontakt">Kontakt</a></li>
    <li><a href="#faqs">FAQs</a></li>
    <li><a href="#impressum">Impressum</a></li>
  </ul>
</nav>

<section id="bandmitglieder">
  <h1>Bandmitglieder</h1>
  <ul>
    <table>
      <thead>
      <tr>
        <th>Nick</th>
        <th>Flo</th>
        <th>Alex</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Saxophon, Percussion, Gesang</td>
        <td>Gesang und Percussion</td>
        <td>Gitarre</td>
      </tr>
      </tbody>
    </table>
  </ul>
</section>

<section id="Jazz-Pop-Lieder">
  <h1>Jazz-Pop-Lieder</h1>
  <ul>
    <table>
      <thead>
      <tr>
        <th>Liedtitel</th>
        <th>Interpret</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Ain't No Sunshine</td>
        <td>Bill Withers</td>
      </tr>
      <tr>
        <td>Alice in Wonderland</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>All of Me</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>All of Me</td>
        <td>John Legend</td>
      </tr>
      <tr>
        <td>Billie Jean</td>
        <td>Michael Jackson</td>
      </tr>
      <tr>
        <td>Blackbird</td>
        <td>The Beatles</td>
      </tr>
      <tr>
        <td>Billie Jean</td>
        <td>Michael Jackson</td>
      </tr>
      <tr>
        <td>But for Now</td>
        <td>Jamie Cullum</td>
      </tr>
      <tr>
        <td>Cannonball</td>
        <td>Damien Rice</td>
      </tr>
      <tr>
        <td>Ceora</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Come Together</td>
        <td>The Beatles</td>
      </tr>
      <tr>
        <td>Creep</td>
        <td>Radiohead</td>
      </tr>
      <tr>
        <td>Desafinado</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Don't Look Back In Anger</td>
        <td>Oasis</td>
      </tr>
      <tr>
        <td>Don't Stop Me Now</td>
        <td>Queen</td>
      </tr>
      <tr>
        <td>Englishman in New York</td>
        <td>Sting</td>
      </tr>
      <tr>
        <td>Every Breath You Take</td>
        <td>The Police</td>
      </tr>
      <tr>
        <td>Fever</td>
        <td>Peggy Lee</td>
      </tr>
      <tr>
        <td>Fields Of Gold</td>
        <td>Sting</td>
      </tr>
      <tr>
        <td>Fly Me To The Moon</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Georgia On My Mind</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Get Lucky</td>
        <td>Daft Punk</td>
      </tr>
      <tr>
        <td>Girl From Ipanema</td>
        <td>Antônio Carlos Jobim</td>
      </tr>
      <tr>
        <td>Hallelujah, I Love Her So</td>
        <td>Ray Charles</td>
      </tr>
      <tr>
        <td>Hey Jude</td>
        <td>The Beatles</td>
      </tr>
      <tr>
        <td>Hit the Road Jack</td>
        <td>Ray Charles</td>
      </tr>
      <tr>
        <td>How Deep Is Your Love</td>
        <td>Bee Gees</td>
      </tr>
      <tr>
        <td>How High The Moon</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>I Got A Woman</td>
        <td>Ray Charles</td>
      </tr>
      <tr>
        <td>I See Fire</td>
        <td>Ed Sheeran</td>
      </tr>
      <tr>
        <td>I Took A Pill In Ibiza</td>
        <td>Jamie Cullum</td>
      </tr>
      <tr>
        <td>Imagine</td>
        <td>John Lennon</td>
      </tr>
      <tr>
        <td>Isn't She Lovely</td>
        <td>Stevie Wonder</td>
      </tr>
      <tr>
        <td>It Don't Mean A Thing</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Just The Two Of Us</td>
        <td>Bill Withers & Grover Washington, Jr.</td>
      </tr>
      <tr>
        <td>Lean On Me</td>
        <td>Bill Withers</td>
      </tr>
      <tr>
        <td>Love Yourself</td>
        <td>Justin Bieber</td>
      </tr>
      <tr>
        <td>Lullaby Of Birdland</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Moondance</td>
        <td>Van Morrison</td>
      </tr>
      <tr>
        <td>My Yard</td>
        <td>Jamie Cullum</td>
      </tr>
      <tr>
        <td>No Woman, No Cry</td>
        <td>Bob Marley & The Wailers</td>
      </tr>
      <tr>
        <td>Seven Nations Army</td>
        <td>The White Stripes</td>
      </tr>
      <tr>
        <td>Shape Of My Heart</td>
        <td>Sting</td>
      </tr>
      <tr>
        <td>Smells Like Teen Spirit</td>
        <td>Nirvana</td>
      </tr>
      <tr>
        <td>Someday My Prince Will Come</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Something Just Like This</td>
        <td>The Chainsmokers & Coldplay</td>
      </tr>
      <tr>
        <td>Somewhere Over The Rainbow</td>
        <td>Israel Kamakawiwo'ole</td>
      </tr>
      <tr>
        <td>Stand By Me</td>
        <td>Ben E. King</td>
      </tr>
      <tr>
        <td>Summertime</td>
        <td>George Gershwin</td>
      </tr>
      <tr>
        <td>Sunny</td>
        <td>Boney M.</td>
      </tr>
      <tr>
        <td>The Chicken</td>
        <td>Jaco Pastorius</td>
      </tr>
      <tr>
        <td>The Long And Winding Road</td>
        <td>The Beatles</td>
      </tr>
      <tr>
        <td>The Nearness Of You</td>
        <td>Jazz-Standard</td>
      </tr>
      <tr>
        <td>Walk On The Wild Side</td>
        <td>Lou Reed</td>
      </tr>
      <tr>
        <td>Wave</td>
        <td>Antônio Carlos Jobim</td>
      </tr>
      <tr>
        <td>Zieh die Schuh aus</td>
        <td>Roger Cicero</td>
      </tr>
      </tbody>
    </table>
  </ul>
</section>

<section id="Weihnachtslieder">
  <h1>Weihnachtslieder</h1>
  <ul>
    <table>
      <thead>
      <tr>
        <th>Liedtitel</th>
        <th>Interpret</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>All I Want For Christmas Is You</td>
        <td>Mariah Carey</td>
      </tr>
      <tr>
        <td>Have Yourself a Merry Little Christmas</td>
        <td>Frank Sinatra</td>
      </tr>
      <tr>
        <td>It's Beginning to Look a Lot Like Christmas</td>
        <td>Michael Bublé</td>
      </tr>
      <tr>
        <td>Let It Snow! Let It Snow! Let It Snow!</td>
        <td>Dean Martin</td>
      </tr>
      </tbody>
    </table>
  </ul>
</section>

<section id="kontakt">
  <h1>Kontakt</h1>
  <form>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="email">E-Mail</label>
    <input type="email" id="email" name="email">
    <input type="submit" value="Senden">
  </form>
</section>

<section id="faqs">
  <h1>FAQs</h1>
  <ul>
    <table>
      <thead>
      <tr>
        <th>Frage</th>
        <th>Antwort</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Wie lange dauert ein Auftritt?</td>
        <td>In der Regel 3 Stunden.</td>
      </tr>
      <tr>
        <td>Kann man Songwünsche äußern?</td>
        <td>Ja, gerne im Voraus mitteilen.</td>
      </tr>
      <tr>
        <td>Wie viel kostet ein Auftritt?</td>
        <td>Preise variieren je nach Dauer und Ort.</td>
      </tr>
      <tr>
        <td>Spielt ihr auch im Ausland?</td>
        <td>Ja, aber zusätzliche Reisekosten fallen an.</td>
      </tr>
      <tr>
        <td>Ist eine Anzahlung erforderlich?</td>
        <td>Ja, 30% im Voraus.</td>
      </tr>
      <tr>
        <td>Wie lange im Voraus sollte man buchen?</td>
        <td>Mindestens 3 Monate.</td>
      </tr>
      <tr>
        <td>Kann man euch vorher live sehen?</td>
        <td>Ja, bei öffentlichen Events möglich.</td>
      </tr>
      <tr>
        <td>Habt ihr eine eigene Soundanlage?</td>
        <td>Ja, wir bringen unsere eigene Ausrüstung mit.</td>
      </tr>
      <tr>
        <td>Spielt ihr auch auf Firmenfeiern?</td>
        <td>Ja, wir sind flexibel bei der Art des Events.</td>
      </tr>
      <tr>
        <td>Gibt es eine Mindestbuchungsdauer?</td>
        <td>Ja, die Mindestbuchungsdauer beträgt 2 Stunden.</td>
      </tr>
      </tbody>
    </table>
  </ul>
</section>

<section id="impressum">
  <h1>Impressum</h1>
  <ul>
    <table>
      <tbody>
      <tr>
        <td>Website-Inhaber</td>
        <td>Alexander Teschauer</td>
      </tr>
      <tr>
        <td>Anschrift</td>
        <td>Flaschenhofstraße 3, 90402 Nürnberg</td>
      </tr>
      <tr>
        <td>E-Mail</td>
        <td>nickandfriendsbandgmail.com</td>
      </tr>
      </tbody>
    </table>
  </ul>

  <!-- https://www.conanimamusic.com/impressum -->

  <!-- Name des Unternehmens
  Name der verantwortlichen Person(en)
  Anschrift der Niederlassung (Haus-Adresse, nicht nur Postfach)
  Rechtsform, Registernummer und Registergericht: bei juristischen Personen und e.K.
  Kontaktdaten zur schnellen unmittelbaren Erreichbarkeit - am besten: Telefonnummer und Emailadresse.
  Bei zulassungspflichtigem Gewerbe Angaben zur zuständigen Aufsichtsbehörde mit Anschrift - Beispiele für zulassungspflichtige Gewerbe:
  Immobilienmakler nach § 34 c Abs. 1 Satz 1 Nr. 1 GewO,
  Versicherungsvermittler, Finanzanlagenvermittler etc. nach §§ 34 d, e, f GewO
  Neu: Wohnimmobilienverwalter nach § 34 c Abs. 1 Satz 1 Nr. 4 GewO
  Weitere Beispiele für zulassungspflichtige Gewerbe fin den Sie in unserem "Pflichtangaben im Internet-Impressum" auf Seite 5.
  (Hinweis: Beachten Sie ergänzend auch unten 3. Berufsspezifische Informationen)
  Umsatzsteueridentifikationsnummer (nach § 27a des Umsatzsteuergesetzes): nur sofern eine solche auf Antrag erteilt worden ist (nicht: Steuernummer) -->
</section>
